<input type="text" class="form-control" placeholder="Heading" required>
<input type="text" class="form-control mt-2" placeholder="Sub Heading" required>
<textarea class="form-control mt-2" placeholder="Content" rows="5"required></textarea>
<div class="form-group">
    <label for="attachedFiles">Attach Files (if any) :</label>
    <input type="file" class="form-control-file btn btn-outline-dark" id="attachedFiles">
</div>