<%- include('partials/header', {title:'Medirec', pageCSS:"css/styles.css"}) %>

  <div class="login">
    <div>
      <h2 class="welcome-message">Welcome to Medirec</h2>
    </div>
    <div>Hope you're doing great today!</div>
    <form method="POST">
      <input type="submit" class="btn btn-info btn-lg btn-signup" value="LOG IN" formaction="/login"><br>
      <input type="submit" class="btn btn-outline-info btn-lg btn-signup" value="SIGN UP" formaction="/signup">
    </form>
  </div>
  
<%- include('partials/footer',{pageJS:"js/index.js"})%>