<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In!</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--page css-->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/heading.css">
    <!-- page fonts -->
    <link href="https://fonts.googleapis.com/css?family=Aladin&display=swap" rel="stylesheet">
</head>

<body>

    <%- include header.ejs%>
    <div class="card bg-light">
        <div class="card-header">
            <h2 class="display-4">Welcome back!</h2>
        </div>
        <div class="card-body">

            <p class="card-text">Please enter your email address and password to login</p>
            <form id="loginDetails">
                    <p class="card-text"></p><input type="email" class="form-control" placeholder="Email address"></p>
                    <p class="card-text"><input type="password" class="form-control" placeholder="Password"></p>
                    <div class="submit-btn-wrapper"><input type="submit" class="btn btn-info submit-btn" value="Login"></div>
            </form>
            
        </div>
    </div>





    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- page js -->
    <script src="js/login.js"></script>
</body>

</html>