<%- include('partials/header',{title:"Log In!", pageCSS:"css/login.css"})%>

<div class="card bg-light">
    <div class="card-header">
        <h2 class="display-4">Welcome back!</h2>
    </div>
    <div class="card-body">
        <p class="card-text">Please enter your email address and password to login</p>
        <form id="loginDetails">
            <p class="card-text"></p><input type="email" class="form-control" placeholder="Email address"></p>
            <p class="card-text"><input type="password" class="form-control" placeholder="Password"></p>
            <div class="submit-btn-wrapper"><input type="submit" class="btn btn-info submit-btn" value="Login">
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer',{pageJS:"js/login.js"})%>