.content{
    width:35rem;
    text-align: center;
}
.display-4{
    font-size: 2.5rem;
    padding:2%;
    margin-top:2%;
}

.formContent, .parent1Warning, .parent2Warning, .sameSexWarning, .parent2Wrapper{
    display: none;
}


.parent1Warning, .parent2Warning, .sameSexWarning{
    color:red;

}


@media (max-width:576px){
    
    .display-4{
        font-size:2rem;
        margin-top:8%;
    }

    .content{
        width:25rem;
    }

}