h1{
    margin-bottom:0;
}

.navbar{
    background-color:#03312E;
}

.navbar-collapse{
    flex-direction: row-reverse;
}


.patientSearchBar{
    margin-left: 77%
}

.img-add{
    background:url("/images/add.png") no-repeat; 
    width:20px;
    border:none;
}

.img-reqSent{
    background:url("/images/checked-green.png") no-repeat; 
    width:20px;
    border:none;
}
.img-add:hover{
    background-color: yellow;
    border-radius: 50%;
}

.notificationMenu {
    width: 600px;
    max-width: 100vw;
    
}

.dropdown-divider:first-child{
    display:none;
}

.img-accept{
    background:url("/images/circle.png") no-repeat; 
    width:20px;
    border:none;
}

.img-reject{
    background:url("/images/close.png") no-repeat; 
    width:20px;
    border:none;
}

@media (max-width:576px){
    .responseButtons{
        text-align: right;
    }

}