h1{
    margin-bottom:0;
}

.navbar{
    background-color:#03312E;
}

.navbar-collapse{
    flex-direction: row-reverse;
}


.patientSearchBar{
    margin-left: 77%
}

.img-add{
    width:20px;
}

.img-add:hover{
    background-color: yellow;
    border-radius: 50%;
}
