
.login{
    display:none;
    text-align:center;
    margin:5%;
    
}

.btn-signup{
    margin-top:2%;
}

@media (max-width:576px){
    
    .heading{
        font-size: 3rem;
        text-align: center;
    }

    .welcome-message{
        font-size:1.5rem;
    }

    .login{
        margin-top:30%;
    }
}