
h1{
    font-family: 'Aladin', cursive;
    font-size: 3rem;
}

.content{
    padding:2%;
}
.heading{
    text-align: right;
    padding:2%;
    padding-right: 5%;
    color:white;
    background: #35e235;
}

.heading-link, .heading-link:hover{
    color:white;
    text-decoration: none;
}

.display-4{
    font-size: 3.5rem;
}
.page-heading{
    margin-top:2%;
}

.details{
    line-height: 3rem;
    margin-top:2%;
    display: none;
    
}

.details h2{
    margin-top:2%;
    margin-bottom: 5%;
    text-decoration: underline;
}

.form-control{
    margin: 1% 0% 1% 0%;
}

.submit-btn{
    display:none;
}

p{
    padding:2%;
}

.nameWarning, .nationalityWarning, .socSecWarning, .maritalStatusWarning, .sexWarning, .phoneNoWarning,.dateWarning, .emailWarning,.passwordWarning{
    color:red;
    display:none;
}
@media (max-width:576px){
    
    .heading{
        font-size: 3rem;
        text-align: center;
    }

}